body{
    font-family: "Open Sans", serif;
    margin: 0;
}
.container-game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #4f0478eb; */
    background-image: url("./image/imge.jpg");
    background-size: cover;
    height: 100vh;
}
.title{
    width: 355px;
    background-color: rgb(126, 2, 2);
    padding: 8px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    border-radius: 15px;
    font-weight: bold;
}
.title span{
    color: rgb(252, 210, 3);
}
.square-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.square{
    background-color: rgb(252, 210, 3);
    width: 110px;
    height: 110px;
    margin: 5px;
    color: #fff;
    border-radius: 8px;
    font-size: 65px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square:hover{
    background-color: rgb(126, 2, 2);
}